{% extends "templates/_base.htm" %}
{% block bodycontent %}
		
		
		<!-- Main -->
		

			<section class="wrapper style1">
				<div class="container">
					<div class="row double">
						<div class="4u">
							<div id="sidebar">

								<!-- Sidebar -->
									
									<section>
										<h3>Links</h3>
										<h4>Dance Shoes</h4>
										<ul><a href="javascript:hideshow(document.getElementById('link1'))">Very Fine Dance Shoes</a></ul>
										<ul><a href="javascript:hideshow(document.getElementById('link2'))">Amercian Classic</a></ul>
										<h4>Locations</h4>
										<ul><a href="javascript:hideshow(document.getElementById('link3'))">Chippewa Valley Dance Club</a></ul>
										
									</section>
						
							</div>
						</div>
						<div class="8u skel-cell-important">
							<div id="content">

								<!-- Content -->
									<article id="link1" style="display: none;">
										<header>
											<a href="https://www.veryfineshoes.com">
											<h2>Very Fine Dance Shoes</h2>
											</a>
										</header>
										<a href="https://www.veryfineshoes.com">
											www.veryfineshoes.com
										</a>
<script>
		var editor1, html = '';

		function createEditor() {
			if ( editor1 )
				return;

			// Create a new editor instance inside the <div id="editor"> element,
			// setting its value to html.
			var config = {};
			editor1 = CKEDITOR.appendTo( 'editor1', config, html );

			// Update button states.
			document.getElementById( 'remove' ).style.display = '';
			document.getElementById( 'create' ).style.display = 'none';
		}

		function removeEditor() {
			if ( !editor1 )
				return;

			// Retrieve the editor content. In an Ajax application this data would be
			// sent to the server or used in any other way.
			html = editor1.getData();

			// Update <div> with "Edited Content".
			document.getElementById( 'editorcontent1' ).innerHTML = html;
			// Show <div> with "Edited Content".
			document.getElementById( 'content1' ).style.display = '';
			// Update button states.
			document.getElementById( 'remove' ).style.display = 'none';
			document.getElementById( 'create' ).style.display = '';

			// Destroy the editor.
			editor1.destroy();
			editor1 = null;
		}
	</script>
	<p>
		<input onclick="createEditor();" type="button" value="Create Editor" id="create">
		<input onclick="removeEditor();" type="button" value="Remove Editor" id="remove" style="display:none">
	</p>
	<div id="editor1">
	</div>
	<div id="content1" style="display: none">
		<h3>Edited Content</h3>
		<!-- This <div> will be used to display the editor content. -->
		<div id="editorcontent1">
		</div>
	</div>
										
										
										
										
										<p>Very Fine Dancesport Shoes was founded in June 1998. 
										We are OEM dance footwear manufacturer & supplier and we also carry our own house brands 
										where the emphasis is on high-end design dance shoes using premium materials. Since our beginning,
										the principle elements of our company have been focused on our service and delivery of quality products
										with affordable prices. As a result, Very Fine has successfully became one of the largest dance shoes 
										supplier in the US. Our relentless pursuit for perfection has made our dance shoes the first choice of
										many professional dancers.
										</p>
									</article>
									<article id="link2" style="display: none;">
										<header>
											<h2>American Classic Dance Shoes</h2>
										</header>
										<p></p>
									</article>
									<article id="link3" style="display: none;">
										<header>
											<a href="http://www.dance.spinstep.com/Main/CVDC">
											<h2>Chippewa Valley Dance Club</h2>
											</a>
										</header>
										<a href="http://www.dance.spinstep.com/Main/CVDC">
											www.dance.spinstep.com/Main/CVDC
										</a>
										<p>The Chippewa Valley Dance Club (CVDC) is a non-profit ballroom dance club that will be sponsoring
										five Saturday night dances this year. Also, five Sunday afternoon dances will be included this season 
										which feature music presented by Goggin Ballroom Dancing. Dances are held at the St Mary's Community Center,
										1812 Lynn Av, Altoona, WI.</p>
										
										<p>CVDC Membership Membership dues are $89 per person, which entitles you to attend all ten Saturday 
										& Sunday dances. Nonmembers pay $16 per person at the door on Saturdays, Sunday dances are $10 per person.<p>
										<p>Members enjoy:</p>
										<ul>
											<li>A $41 discount compared to the non-member fees </li>
											<li>ABetter bands, because your advance payment helps us book good bands in advance</li>
											<li>A stronger dance club: when you join us, all of your membership dues go to the dance club.</li>
										</ul>
												<form action="http://maps.google.com/maps" method="get" target="_blank">
													<h1>Get Directions</h1>
													<p>Enter your starting address:</p>
													<input type="text" name="saddr" />
													<input type="hidden" name="daddr" value="1812 Lynn Av, Altoona, WI" />
													<input type="submit" value="Get Directions" />
												</form>
									</article>
							</div>
						</div>
					</div>
				</div>
			</section>			

		

{% endblock %}
