{% extends "templates/_base.htm" %}
{% block bodycontent %}
<!-- Main -->
<section class="wrapper style1">
<div class="container">
<div id="content">

<!-- Content -->
 
<h2 style="text-align:center">Calendar and Events</h2>
<img src="images/Moose.jpg" alt="Smiley face" align="middle">
<table align="center">
<h3>Group Lessons / Dances (drop-in)</h3>
<tr >
<th>Place</th>
<th>When</th>
<th>Time</th>
<th>Location</th>
<th>Cost</th>
<th>Register</th>
</tr>
<tr align="center">
<td>Altona</td>
<td>Sundays: Oct 5, Feb 1, Mar 22, Apr 19, May 3</td>
<td>3:00 P Lesson 3:30 P Dancing</td>
<td>St Mary's Community Center, 1812 Lynn Av</td>
<td>$10 person</td> 
<td><input type="radio" name="rdo" id="altona1" onclick="return confirm('Do you want ro register for this?')"></td>
<tr>
<tr align="center">
<td>Eau Claire</td>
<td>Wednesdays: Oct 5, Feb 1, Mar 22, Apr 19, 
May 3 Saturday: Oct25 (Fall Formal with Hors )</td>
<td>3:00 P Lesson 3:30 P Dancing</td>
<td>St Mary's Community Center, 1812 Lynn Av</td>
<td>$20 person</td>
<td><input type="radio" name="rdo" id="eau1" onclick="return confirm('Do you want ro register for this?')"></td>
<tr>
<tr align="center">
<td>MarshField</td>
<td>Oct 24</td>
<td>7:30 P Lesson, 8:30 P Dancing</td>
<td>St Mary's Community Center, 1812 Lynn Av</td>
<td>$10 person</td>
<td><input type="radio" name="rdo" id="marsh1" onclick="return confirm('Do you want ro register for this?')"></td>
<tr>
<tr align="center">
<td>Menomonie</td>
<td>Oct 5, Feb 1, Mar 22, Apr 19, May 3</td>
<td>3:00 P Lesson 3:30 P Dancing</td>
<td>St Mary's Community Center, 1812 Lynn Av</td>
<td>$10 person</td>
<td><input type="radio" name="rdo" id="meno1" onclick="return confirm('Do you want ro register for this?')"></td>
<tr>
</table>
<table align="center">
<h3>Group Lessons (4-6 week sessions)</h3>
<tr >
<th>Place</th>
<th>When</th>
<th>Time</th>
<th>Location</th>
<th>Cost</th>
<th>Register</th>
</tr>
<tr align="center">
<td>Eau Claire</td>
<td>Tuesdays: Sep 16-Oct-17 
</td>
<td>Beginning Social Dancing at 6:15-7:30 P
Intermediate at 7:30-8:45 P</td>
<td>(register for location)</td>
<td>$49 person</td>
<td><input type="radio" name="rdo2" onclick="return confirm('Do you want ro register for this?')"></td>
<tr>
<tr align="center">
<td>MarshField</td>
<td>Mondays: Sep 29-Nov3 & Fri Oct 24 Feb 1, Mar 22, 
Apr 19, May 3</td>
<td>Level 1 at 5:50 P (Swing, Foxtrot, Waltz, Rumba)  
Level 2 at 6:45 P Level 3 at 7:40 P  </td>
<td>(register for location)</td>
<td>$59 person</td>
<td><input type="radio" name="rdo2" onclick="return confirm('Do you want ro register for this?')"></td>
<tr>
<tr align="center">
<td>Rice</td>
<td>Mondays: Sep 29-Nov3 & Fri Oct 24 Feb 1, Mar 22, 
Apr 19, May 3</td>
<td>  Level 1 at 6:00 P (Swing, Foxtrot, Waltz, Rumba) Level 2 at 7:15 P   </td>
<td>(register for location)</td>
<td>$59 person</td>
<td><input type="radio" name="rdo2" onclick="return confirm('Do you want ro register for this?')"></td>
<tr>

</table>
<style>
 
 
th,tr { height: 40px; text-align:center  } 
th {font-size:100%; font-weight: bold;background-color: #fff; background-color:#30C4DA;} td { font-size:70%; white-space:pre } img{position: relative;
    right: -30%;
    width: 400px;}


 
</style>
</div>
</div>
</section>
<script>

</script>
 

{% endblock %}