{% extends "templates/_base.htm" %}
{% block bodycontent %}
		
		
		
		<!-- Main -->
			<section class="wrapper style1">
				<div class="container">
					<div id="content">

						<!-- Content -->

								<header>
									<h2><center>Under Construction</center></h2>
								</header>
								
								<span class="image featured"><img src="images/web-construction.jpg" alt="" /></span>
				
					</div>
				</div>
			</section>			

		<!-- Footer -->
			<div id="footer">

			</div>

	{% endblock %}