{% extends "templates/_base.htm" %}
{% block bodycontent %}

		<!-- Main -->
			<section class="wrapper style1">
				<div class="container">
					<div class="row double">
						<div class="3u">
							<div id="sidebar1">

								<!-- Sidebar 1 -->
							
									<section>
										<h3>Mission Statement</h3>
										<p>The purpose of Goggin Ballroom Dancing is to provide people of all ages 
										and backgrounds an affordable opportunity to learn and maintain the skills 
										necessary when dancing in a variety of social occasions.</p>
										
									</section>

									
						
							</div>
						</div>
						<div class="6u skel-cell-important">
							<div id="content">

								<!-- Content -->
							
									<article>
									<center>
										<header>
											<h2>Dave & Karen Goggin</h2>
											<!--<span class="image featured" id="about"><img src="images/Cruise11.jpg" alt="" /></span>-->
											<span class="image featured" id="about"><img src="images/Travel12.jpg" alt="" /></span>
										
										</header>
									</center>
										
										<p>Dave and Karen Goggin have over 45 years of combined professional teaching experience in Ballroom, Latin, and Swing dancing.
										They teach a combination of private and group lessons in the Chippewa Valley and Central Wisconsin including Eau Claire, Marshfield, Menomonie and Rice Lake. 
										In addition, weekly and monthly practice dances are offered to all levels of social dancers.  
										Over the past three decades they have presented their skills to a variety of organizations: 
										UWEC Viennese Ball and student organization "Two To Tango", UW Wood, and Barron County Continuing Education, 
										Chippewa Valley Dance Club and various public schools and nursing homes throughout the area. </p>
										
									</article>
						
							</div>
						</div>
						<div class="3u">
							<div id="sidebar2">

								<!-- Sidebar 2 -->

									<section>
										<h3>Contact</h3>
										<section class="6u">
									
									<ul class="links">
										<li>Dave & Karen Goggin</li>
										<li>715.833.1879</li>
										<li><a href="#">Email@DancinGoggin.com</a></li>
									</ul>
									
								</section>
										
									

							</div>
						</div>
					</div>
				</div>
			</section>			

		
{% endblock %}