{% extends "templates/_base.htm" %}
{% block bodycontent %}
<link rel="stylesheet" href="css/gift.css" />


<!-- Main -->
	<section class="wrapper style1">
	<header>
		<h2><center>Order A Gift Certificate!</center></h2>
	</header>
	<script>
		function proceed(){
			if(confirm("Do you want to proceed with th submission?")==false){
				return false;
			}
		}
	</script>
		<div id="giftContainer" class="container">
			<!-- Content -->
					<form class="cmxform" id="giftForm" method="post" action="/giftemail" onsubmit="return proceed()">
						<div class="row half collapse-at-2">
						 <fieldset> 
							<legend>Please provide your name, email address</legend>
								<div class="12u">
									
									  <label for="giftInputName">Name</label>
									  <input id="giftInputName" name="giftInputName" type="text" required/>
									
								</div>
								<div class="12u">
									
									  <label for="giftInputRecipientName">Recipient's Name</label>
									  <input id="giftInputRecipientName" name="giftInputRecipientName" type="text" required/>
									
								</div>
								
								<div class="12u">
									
									  <label for="giftInputEmail">E-Mail (required)</label>
									  <input id="giftInputEmail" type="email" name="giftInputEmail" required/>
									
								</div>
								<div class="12u">
									
									  <label for="giftInputPhone">Phone (required)</label>
									  <input id="giftInputPhone" type="text" name="giftInputPhone" required/>
									
								</div>
								<div class="12u">
									
									  <label for="giftInputAddress">Address (required)</label>
									  <input id="giftInputAddresss" type="text" name="giftInputAddress" required/>
									
								</div>
								<div class="12u">
									  <label for="giftInputCity">City</label>
									  <input id="giftInputCity" type="text" name="giftInputCity" required/>
									
								</div>
								<div class="12u">
									
									 <label for="giftInputState">State</label>
									 <select id="giftInputState" name="giftInputState" size="1" required>
									  <option value="">Select a state</option>
									
									  <option value="AL">Alabama</option>
									  <option value="AK">Alaska</option>
									  <option value="AZ">Arizona</option>
									  <option value="AR">Arkansas</option>
									  <option value="CA">California</option>
									  <option value="CO">Colorado</option>
									  <option value="CT">Connecticut</option>
									  <option value="DE">Delaware</option>
									  <option value="DC">Dist of Columbia</option>
									  <option value="FL">Florida</option>
									  <option value="GA">Georgia</option>
									  <option value="HI">Hawaii</option>
									  <option value="ID">Idaho</option>
									  <option value="IL">Illinois</option>
									  <option value="IN">Indiana</option>
									  <option value="IA">Iowa</option>
									  <option value="KS">Kansas</option>
									  <option value="KY">Kentucky</option>
									  <option value="LA">Louisiana</option>
									  <option value="ME">Maine</option>
									  <option value="MD">Maryland</option>
									  <option value="MA">Massachusetts</option>
									  <option value="MI">Michigan</option>
									  <option value="MN">Minnesota</option>
									  <option value="MS">Mississippi</option>
									  <option value="MO">Missouri</option>
									  <option value="MT">Montana</option>
									  <option value="NE">Nebraska</option>
									  <option value="NV">Nevada</option>
									  <option value="NH">New Hampshire</option>
									  <option value="NJ">New Jersey</option>
									  <option value="NM">New Mexico</option>
									  <option value="NY">New York</option>
									  <option value="NC">North Carolina</option>
									  <option value="ND">North Dakota</option>
									  <option value="OH">Ohio</option>
									  <option value="OK">Oklahoma</option>
									  <option value="OR">Oregon</option>
									  <option value="PA">Pennsylvania</option>
									  <option value="RI">Rhode Island</option>
									  <option value="SC">South Carolina</option>
									  <option value="SD">South Dakota</option>
									  <option value="TN">Tennessee</option>
									  <option value="TX">Texas</option>
									  <option value="UT">Utah</option>
									  <option value="VT">Vermont</option>
									  <option value="VA">Virginia</option>
									  <option value="WA">Washington</option>
									  <option value="WV">West Virginia</option>
									  <option value="WI">Wisconsin</option>
									  <option value="WY">Wyoming</option>
								
									</select>
									
								</div>
								<div class="12u">
									
									  <label for="giftInputZip">Zip Code (required)</label>
									  <input id="giftInputZip" type="text" name="giftInputZip" required/>
									
								</div>
								<div class="12u">
									  <label for="giftInputAmount">Dollar Amount (required)</label>
									  <input id="giftInputAmount" type="number" name="giftInputAmount" required/>
									
								</div>
								 <input class="submit" type="submit" value="Order"/>
								
						  </fieldset>
						
					</form>
					
					<script>
						
								$('#giftForm').validate() // initialize the plugin
								
					</script>
				
			
	</div>
	
	</section>
{% endblock %}