{% extends "templates/_base.htm" %}
{% block bodycontent %}
 <script src="js/admin/lessons.js"></script>
<!-- Main -->

<script type="text/javascript">
			function hideshow(which){
				link1 = document.getElementById('privateLink')
				link2 = document.getElementById('dropInLink')
				link3 = document.getElementById('groupLink')
				if (which.id=='privateLink') {
					link1.style.display="block"
					link2.style.display="none"
					link3.style.display="none"
				} else if (which.id=='dropInLink') {
					link1.style.display="none"
					link2.style.display="block"
					link3.style.display="none"
				} else if (which.id=='groupLink') {
					link1.style.display="none"
					link2.style.display="none"
					link3.style.display="block"
				}
			}
		</script>



		<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
	




	
<section class="wrapper style1">


<!-- Button trigger modal -->
		



<div class="container">



<!-- Modal -->

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div  class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Add Lesson</h4>
      </div>
	 
		 
		  <div class="modal-body">
		


		</div>
		
	
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button  id="submitLesson" type="button" class="btn btn-primary" data-dismiss="modal">Save Changes</button>
		<!--<input type="submit" id="submitLesson" class="btn btn-primary" value="Save Changes"></button>-->
      </div>
	 
    </div>
  </div>
</div>


			<div class="row double">

				<div class="3u">
							<div id="sidebar">

								<!-- Sidebar -->
									
									<section>
									
										<h4>Lessons</h4>
										<ul><a href="javascript:hideshow(document.getElementById('privateLink'))" >Private & Group Lessons (by appointment)</a></ul>
										<ul><a href="javascript:hideshow(document.getElementById('dropInLink'))"  >Group Lessons/Dances Drop-In</a></ul>
										<ul><a href="javascript:hideshow(document.getElementById('groupLink'))" >Group Lessons (4-6 week sessions)</a></ul>
									
									</section>
						
							</div>
				</div>

		<style>
			.lessonInfo{
				border:solid;
				border-color:#2E9AFE;
				
			}
			
		</style>
		<article id="privateLink" class="private" style="display: none;">
		<h4>Private Lessons</h4>
		{% for plesson in privateLessons %}		
		<div id="{{plesson.key.id()}}"class="lessonInfo">
		
				
			<div class = "lessonTypeInfo">
			Type:{{plesson.city}}
			</div>
			<div class = "lessonDateInfo">
			Date:{{plesson.date}}
			</div>
			
			<div class = "lessonTimeInfo">
			Time:{{plesson.time}}
			</div>
			
			<div class = "lessonDetailsInfo" >
			Details:{{plesson.details}}
			</div>
			
			<div class = "lessonLocationInfo">
			Location:{{plesson.location}}
			</div>
			
			<div class = "lessonCostInfo">
			Cost:{{plesson.cost}}
			</div>
			
		</div>		
		{% endfor %}
		
		</article>
		
		
		<article id="dropInLink" class="dropIn" style="display: none;">
		 <h4>Drop-In Lessons</h4>
		
		
		{% for dlesson in dropInLessons %}		
		<div id="{{dlesson.key.id()}}"class="lessonInfo">
		
					
			<div class = "lessonTypeInfo">
			Type:{{dlesson.city}}
			</div>
			<div class = "lessonDateInfo">
			Date:{{dlesson.date}}
			</div>
			
			<div class = "lessonTimeInfo">
			Time:{{dlesson.time}}
			</div>
			
			<div class = "lessonDetailsInfo" >
			Details:{{dlesson.details}}

			</div>
			
			<div class = "lessonLocationInfo">
			Location:{{dlesson.location}}
			</div>
			
			<div class = "lessonCostInfo">
			Cost:{{dlesson.cost}}
			</div>
			
		</div>		
		{% endfor %}
		</article>
		
		
		<article id="groupLink" class="group" style="display: none;">
		 <h4>Group Lessons</h4>
		
		{% for glesson in groupLessons %}		
		<div id="{{glesson.key.id()}}"class="lessonInfo">
		
				
			<div class = "lessonTypeInfo">
			Type:{{glesson.city}}
			</div>
			<div class = "lessonDateInfo">
			Date:{{glesson.date}}
			</div>
			
			<div class = "lessonTimeInfo">
			Time:{{glesson.time}}
			</div>
			
			<div class = "lessonDetailsInfo" >
			Details:{{glesson.details}}
			</div>
			
			<div class = "lessonLocationInfo">
			Location:{{glesson.location}}
			</div>
			
			<div class = "lessonCostInfo">
			Cost:{{glesson.cost}}
			</div>
			
		</div>		
		{% endfor %}
		
		</article>

<style>
 
 
th,tr { height: 40px; text-align:center  } 
th {font-size:100%; font-weight: bold;background-color: #fff; background-color:#30C4DA;} td { font-size:70%; white-space:pre } img{position: relative;
    right: -30%;
    width: 400px;}


 
</style>
		</div>
</div>
</div>
</div>




</section>

 

{% endblock %}