{% extends "templates/_base.htm" %}
{% block bodycontent %}

<link rel="stylesheet" href="css/resources.css" />
		
		<script type="text/javascript">
			function hideshow(which){
			
				var resArray = [];
				document.getElementById('link1').style.display="none"
				
			
				{% for resource in resources %}
					res = document.getElementById('{{resource.key.id()}}')
					resArray.push(res)
				{% endfor %}
				
				var i = 0
				{% for resource in resources %}
					if (which.id=='{{resource.key.id()}}') {
						resArray[i].style.display="block"
					}else{
						resArray[i].style.display="none"
					}
					i = i + 1
				{% endfor %}
			}
			
			function autoGrow (oField) {
				if (oField.scrollHeight > oField.clientHeight) {
				oField.style.height = oField.scrollHeight + "px";
				}
			}
		</script>
		<!-- Main -->
		

			<section class="wrapper style1">
				<div class="container">
					<div class="row double">
						<div class="4u">
							<div id="sidebar">

								<!-- Sidebar -->
									
									<section>
										<h3>Links</h3>

										{% for resource in resources %}
											{% if resource.type == 'link' %}
												<ul><a href="javascript:hideshow(document.getElementById('{{resource.key.id()}}'))">{{resource.title}}</a></ul>
											{% endif %}
												
										{% endfor %}
										
										<h3>Locations</h3>
										{% for resource in resources %}
											{% if resource.type == 'location' %}
												<ul><a href="javascript:hideshow(document.getElementById('{{resource.key.id()}}'))">{{resource.title}}</a></ul>
											{% endif %}
										{% endfor %}
									</section>
						
							</div>
						</div>

						<div class="8u skel-cell-important">
							<div id="content">

								<!-- Content -->
								
								<article id="link1" style="display: block;">
										<header>
											<h2>Resources</h2>
										</header>
										<p>Click on the link or location you want to access. 
										</p>
								</article>
								
								
								
								{% for resource in resources %}
									{% if resource.type == 'link' %}
									<article id="{{resource.key.id()}}" style="display: none;">
										<header>
											<a href="{{resource.linkOrAddress}}">
											<h2>{{resource.title}}</h2>
											</a>
										</header>
										<a href="{{resource.linkOrAddress}}">
											{{resource.linkOrAddress}}
										</a>
										<textarea class="noscrollbars" onkeyup="autoGrow(this);" readonly> {{resource.desc}} </textarea>
									</article>
									{% endif %}
								{% endfor %}
								
								{% for resource in resources %}
									{% if resource.type == 'location' %}
									<article id="{{resource.key.id()}}" style="display: none;">
										<header>
											<h2>{{resource.title}}</h2>
										</header>
										<textarea class="noscrollbars" onkeyup="autoGrow(this);" readonly> {{resource.desc}} </textarea>
									
									<form action="http://maps.google.com/maps" method="get" target="_blank">
													<h1>Get Directions</h1>
													<p>Enter your starting address:</p>
													<input type="text" name="saddr" />
													<input type="hidden" name="daddr" value="{{resource.linkOrAddress}}" />
													<input type="submit" value="Get Directions" />
												</form>
									</article>
									{% endif %}
									
								{% endfor %}
								
								
							</div>
						</div>
					</div>
				</div>
			</section>			

		

{% endblock %}
